<header class="header-nav">

    <div class="nombre-logo">
        <img src="https://i.postimg.cc/nr4pb1tG/logotienda.png">
        <h1>KDENA</h1>
    </div>

    <nav class="nav-bar">
        <a routerLink="/" routerLinkActive="activo" [routerLinkActiveOptions]="{ exact: true }">
            HOME
        </a>   
        <a routerLink="/nosotros" routerLinkActive="activo">NOSOTROS</a>
        <a routerLink="/login" routerLinkActive="activo">LOGIN</a>
        <a routerLink="/inventario" routerLinkActive="activo">INVENTARIO</a>
        <a routerLink="/solicitud-productos" routerLinkActive="activo">SOLICITUD PRODUCTOS</a>
        <a routerLink="/mi-cuenta" routerLinkActive="activo">MI CUENTA</a>

    </nav>
</header>